.about-container {
    text-align: left;
    margin: 0 auto;
}

.about-info {
    display: block;
    padding: 1rem;
}

.second-header {
    margin-top: 2rem;
}

.iframe {
    border-radius: 20px;
}

@media (max-width: 800px) {
    .about-container {
        display: flex;
        flex-direction: column;
        max-width: 90%;
    }

    .iframe {
        width: 100%;
    }
}