.slider {
    position: relative;
      min-width: 65%;
}

.farm-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    max-height: 400px;
}

.farm-image {
    object-fit: cover;
    border-radius: 20px 0 0 20px;
    width: 100%;
    height: 100%;
}

.farm-image:hover {
    transform: scale(1);
     }

.farm-text {
    border-radius: 0 20px 20px 0;
    padding: 1rem;
    margin: 0;
}

.arrow-btn {
    all: unset;
    position: absolute;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.9);
    top: 45%;
    margin: 0 10px;
    font-size: 25px;
  }
  
  .arrow-btn:hover {
    transform: scale(1.3);
  }
  
  .arrow-btn-right {
    right: 0;
  }
  
  .arrow-btn-left {
    left: 0;
  }

  .opening-time {
    font-weight: 700;
    margin-top: 1rem;
  }

  .text h1 {
    font-family: var(--ff-title);
    font-size: var(--fs-bigger);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 300;
}

.home-text-color {
  background-color: #99b6c4;
  color: white
}

.home-text-block {
  margin: 3rem auto 0 auto
}

.event-style {
  border-radius: 20px
}



@media (max-width: 800px) {

    .farm-container {
        display: flex;
        flex-direction: column;
        max-width: 300px;
        max-height: 100%;
      }

      .farm-image {
        border-radius: 20px 20px 0 0;
      }

      .farm-text {
        border-radius: 0 0 20px 20px;
        margin: -0.25rem auto;
      }

      .home-text-block {
        margin: 0 auto
      }

      .event-style {
        border-radius: 20px
      }
  }